.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 15px;
  color: white;
}

.btn{
  margin-left: 15px;
  width:50px;
}

input[type=text]
{
  width:200px;
  height:25px;
}

